<h1>Eat Da Burger</h1>

<h2>Burgers to be Eaten</h2>

<ul class="list-group">
    {{#each burger}}
    {{#unless this.devoured}}
       
        <li class="list-group-item">{{burger_name}}
            <button class="devour" data-id="{{this.id}}" data-devoured={{devoured}}>Devour Burger</button>
        
        </li>
    
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul class="list-group">
    {{#each burger}}
    {{#if this.devoured}}
    <li class="list-group-item">{{this.burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>