<div class="container">
    <p class="burger-icon">🍔</p>

    <h1 class="mb-4">Eat Da Burger</h1>

    <form class="add-burger">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="burger_name" placeholder="type a burger name" aria-label="burger name" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="input-group-text" id="burger-btn">Add a Burger</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h5>Added Burgers</h5>
                </div>
                <ul class="list-group">
                {{#each burger}}
                {{#unless this.devoured}}
                
                    <li class="list-group-item ">{{burger_name}}
                        <button class="devour ml-2" data-id="{{this.id}}" data-devoured={{devoured}}>Devour It!</button>
                    
                    </li>
                
                {{/unless}}
                {{/each}}
                </ul>
            </div>
        </div>
       
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h5>Devoured Burgers</h5>
                </div>
                <ul class="list-group">
                {{#each burger}}
                {{#if this.devoured}}
                <li class="list-group-item devoured">{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
                </ul>
            </div>
        </div>
        
    
    </div>

</div>